<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon name="navigate-circle-outline"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
            <ion-back-button text="" icon="add"></ion-back-button>
    </ion-buttons> -->

    <ion-buttons slot="end">
      <ion-button>Annuler</ion-button>
    </ion-buttons>

    <ion-title slot="secondary">Lieux</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar showCancelButton="always" placeholder="Rechercher" cancelButtonIcon="search-outline">  </ion-searchbar>
<ion-list>
  <ion-item>
    <ion-label><a routerLink=".">Choix 2</a></ion-label>
  </ion-item>

</ion-list>
</ion-content>
