.box{
    border: 2px ;
    outline: 100%;
}

.title {
    padding-left: 5%;
    padding-right: 5%;
}
.date {
    padding-left: 5%;
}

.user {
    padding-left: 5%;
    color: lightslategrey;
}

.listBtn  {
    color: mediumorchid;
  }