<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>

    <ion-buttons slot="start">
      <ion-button routerLink="/feed/map">
        <ion-icon name="navigate-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Logout button -->
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <h3>Dernières photos : </h3>
  <app-pic-widget *ngFor="let picture of pictures" [picture]='picture'></app-pic-widget>
  <!-- <ion-grid>
    <ion-row>
      <h3>Dernières photos : </h3>
    </ion-row>
    <ion-row>
      <app-pic-widget *ngFor="let picture of pictures" [picture]='picture'></app-pic-widget>
    </ion-row>
  </ion-grid> -->
</ion-content>
