<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Annuler" icon="" defaultHref="profile"></ion-back-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
      <form (ngSubmit)="paramForm()"> 
        <ion-button ion-button type="submit">Terminer</ion-button>
      </form>
    </ion-buttons> -->

    <ion-title>Paramètres</ion-title>

  </ion-toolbar>
</ion-header>

<!-- source : https://ionicframework.com/docs/v3/developer-resources/forms/ -->
<ion-content>
  <form (ngSubmit)="paramForm()">
    <ion-item>
      <ion-label>Nom d'utilisateur</ion-label>
      <ion-input type="text" [(ngModel)]="username" [placeholder]="user?.username" name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" [placeholder]="user?.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="motDePasse" name="motDePasse" [placeholder]="user?.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirmation du mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="confMotDePasse" name="confMotDePasse" [placeholder]="user?.password"></ion-input>
    </ion-item>
      <ion-button ion-button type="submit">Terminer</ion-button>
  </form>

  <!-- <p *ngIf="username"><i>
    {{ hello(username)}}
  </i>
  </p> -->

  <a routerLink="./" ><p (click)="presentAlertConfirm()">Suppression du compte</p></a>




</ion-content>
