<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="Annuler" icon="" defaultHref="profile"></ion-back-button>
    </ion-buttons>

    <ion-title>Paramètres</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="openMenuPic()" size="large" name="ellipsis-horizontal-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item class="username" *ngIf='notEditable'>Nom d'utilisateur : {{user?.username}}</ion-item>
  <ion-item class="email" *ngIf='notEditable'>Email : {{user?.email}}</ion-item>
  <ion-item class="password" *ngIf='notEditable'>Mot de passe : •••••</ion-item>

  <!-- <form #paramForm="ngForm" *ngIf='editable'>
    <ion-item>
      <ion-label>Nom d'utilisateur</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" pattern="[a-zA-Z ]*" min-length="1" max-length="3" #paramInput="ngModel" placeholder="{{user?.username}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" #paramInput="ngModel" placeholder="{{user?.email}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" #paramInput="ngModel" placeholder="•••••"></ion-input>
    </ion-item>
    <ion-button (click)=updateConfirm(paramForm) type="submit" [disabled]="paramForm.invalid">Valider</ion-button>
    <ion-button (click)=notEditUser() type="cancel" fill="outline">Annuler</ion-button>
    
    <p *ngIf="paramInput.hasError('required') && paramInput.dirty">
      Name is required
    </p>
  </form> -->

  <form [formGroup]="ngForm" *ngIf='editable'>
    <ion-item>
      <ion-label>Nom d'utilisateur</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required pattern="[a-zA-Z ]*" min-length="1" max-length="3" formControlName="username" placeholder="{{user?.username}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" #paramInput="ngModel" placeholder="{{user?.email}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" #paramInput="ngModel" placeholder="•••••"></ion-input>
    </ion-item>
    <ion-button (click)=updateConfirm(paramForm) type="submit" [disabled]="paramForm.invalid">Valider</ion-button>
    <ion-button (click)=notEditUser() type="cancel" fill="outline">Annuler</ion-button>
    
    <p *ngIf="paramForm.get('username').hasError('required')
    && paramForm.get('username').dirty">
    Name is required
    </p>
  </form>

  <br>
  <a class="deleteAccount" (click)="presentAlertConfirm()">Suppression du compte</a>
</ion-content>
