<ion-header>
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="validatePicture(descrForm)" [disabled]="descrForm.invalid">Ok</ion-button>
    </ion-buttons>

    <ion-title>Nouvelle photo</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-chip>
        <ion-icon name="location-outline" color="dark"></ion-icon>
        <ion-label>{{ city?.locality }}</ion-label>
      </ion-chip>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-start" size="5">
        <!-- <img *ngIf='picture' [src]='picture' /> -->
        <img src="https://comem-qimg.herokuapp.com/images/f96c1a88-01ec-4f6b-8126-b6e79ccb359a.png" />
      </ion-col>
      <ion-col>
        <form #descrForm="ngForm">
          <ion-textarea type="text" placeholder="Écrire une description..." [(ngModel)]="descr" name="descr" required #descrInput="ngModel" min-length="3" max-length="50"></ion-textarea>
          <p *ngIf="descrInput.invalid && descrInput.dirty" class="small">
            Une description est requise
          </p>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
