<ion-header>
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-icon name="close-outline"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="create-picture">Suivant</ion-button>
    </ion-buttons> -->

    <ion-title>Nouvelle photo</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-button color="primary" shape="round" size="large" (click)="takePicture()"><ion-icon name="camera"></ion-icon></ion-button>
  <!-- <img *ngIf='picture' [src]='picture.url' /> -->
  <!-- <div id="container">
<p>Welcome to the Home Page</p>
<ion-button routerLink="create-picture">Go to User Page</ion-button>
</div> -->
</ion-content>
