<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button onClick="document.location.reload(true)">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-button class="paramBtn" slot="end" color="medium" fill="outline" expand="block" size="small">
      <a routerLink="/profile/param">Paramètre du compte</a>
    </ion-button>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{user?.username}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid>
    <ion-row>
      <!-- <app-pic *ngFor="let picture of pictures"></app-pic> -->

      <ion-col size="6" *ngFor="let picture of pictures">
        <img [src]="picture?.picture" [id]="picture?.id" [routerLink]="['/profile/userPic', picture.id]" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
