<ion-header>
  <ion-toolbar>
    <ion-button class="paramBtn" slot="end" color="medium" fill="outline" expand="block" size="small">
      <a routerLink="/profile/param">Paramètre du compte</a>
    </ion-button>
    <ion-title slot="start"> {{user?.username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <app-pic *ngFor="let picture of pictures"></app-pic>

  <ion-col size="6" *ngFor="let picture of pictures">
      <a routerLink="/profile/userPic">
        <img [src]="picture?.picture" [id]="picture?.id" (click)="getId(this.picture.id)">
      </a>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
