<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <a routerLink="/lists/create-list"><ion-icon name="add-circle-outline"></ion-icon></a>
      </ion-button>
    </ion-buttons>


    <ion-title>Listes</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- START GET ALL name's list -->

  <ion-list *ngFor='let list of lists'>
    <ion-button color="light" expand="block" (click)="getAllList()">
      <ion-label [routerLink]="['/lists/piclist', list.id]">{{list?.name}}</ion-label>
    </ion-button>
  </ion-list>

  <!-- STOP GET ALL name's list -->
</ion-content>