<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button onClick="document.location.reload(true)">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <a routerLink="/lists/create-list">
          <ion-icon  size="large" name="add-circle-outline"></ion-icon>
        </a>
      </ion-button>
    </ion-buttons>
    <ion-title>Listes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- START GET ALL name's list -->
  <ion-list size="6" *ngFor='let list of tabLists.lists'>
    <ion-button color="light" expand="block" [id]="list?._id" [routerLink]="['/lists/piclist', list._id]">{{list?.name}}</ion-button>
  </ion-list>
  <!-- STOP GET ALL name's list -->
</ion-content>
