<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref></ion-back-button>
    </ion-buttons>

    <ion-title>Odos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list>
      <ion-radio-group value="lists" class="form-group">
        <ion-list-header>
          <ion-label>Listes</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let list of lists">
          <ion-label>{{list?.name}}</ion-label>
          <ion-radio slot="start" [value]="list?.name" name="lists" [id]="list?._id" formControlName="lists" (change)="changeList($event)"> </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button type="submit">Valider</ion-button>
  </form> -->



  <form [formGroup]="form" (ngSubmit)="addPicsList()">

    <div class="form-group">
      <ion-list-header>
        <ion-label>Listes</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let list of lists">
        <input [id]="list?._id" type="radio" [value]="list?._id" name="list" formControlName="list">
        <ion-label [for]="list?.name">{{list?.name}}</ion-label>
      </ion-item>

      <div *ngIf="f.list.touched &amp;&amp; f.list.invalid" class="alert alert-danger">
        <div *ngIf="f.list.errors.required">Merci de sélectionner un des boutons</div>
      </div>
    </div>
    <ion-item>
      <ion-button type="submit" [disabled]="!form.valid" size="medium">Valider</ion-button>
    </ion-item>
  </form>


</ion-content>
