<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button text="" icon="chevron-back-outline" defaultHref="profile"></ion-back-button>
  </ion-buttons>

  <ion-title>{{user?.username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="navigate-circle-outline"></ion-icon>
      <a routerLink="/feed/map">Thailand {{picture?.location}}</a>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-buttons>
</ion-toolbar>

<img width="50%" class="imageGallery" [src]="picture?.picture">

<ion-toolbar>
  <p slot="start">Publié le
    <ion-datetime value="{{picture?.creation_date}}" displayFormat="DD MMM, YYYY">
    </ion-datetime>
  </p>
  <ion-button slot="end">
    <ion-icon name="heart-outline" (click)="openMenu()"></ion-icon>
</ion-button>
</ion-toolbar>

<p>{{picture?.description}}</p>

</ion-content>
