.listBtn  {
    color: mediumorchid;
    margin: 10px;
  }
  .listBtn:hover {
    color:plum;
  }

.geoBtn {
    color: grey;
}

.date  {
    margin-left: 10px;
  }
  
.description  {
    margin: 10px;
  }