<ion-header>
  <ion-toolbar>

    <ion-title>Odos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="danger" class="center">
    <h1>Error 404: page not found</h1>
    <p>Cette page n'existe pas :(</p>
  </ion-text>
  <img src="https://www.lovethispic.com/uploaded_images/230191-Cute-Baby-Piggy.jpeg" alt="Cute kitty">

  <p class="small center">Mais ne sois pas triste et regarde ce petit cochon mignon !</p>
  <p class="center"><a routerLink="">Retourner à la home page</a></p>
</ion-content>
