<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref></ion-back-button>
    </ion-buttons>

    <ion-title>Odos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form #picListForm="ngForm" (submit)=addPicsList(picListForm)>
    <ion-list>
      <ion-radio-group value="lists">
        <ion-list-header>
          <ion-label>Listes</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let list of lists">
          <ion-label>{{list?.name}}</ion-label>
          <ion-radio slot="start" [value]="list?.name" [name]="list?._id" [id]="list?._id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button type="submit" [disabled]="picListForm.invalid">Valider</ion-button>
  </form>

</ion-content>
