<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text="" icon="chevron-back-outline" defaultHref="lists"></ion-back-button>
        </ion-buttons>

        <ion-title>{{list?.name}}</ion-title>

        <ion-buttons slot="end">
            <ion-icon (click)="openMenuList()" size="large" name="ellipsis-horizontal-outline"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
      <ion-col size="6" *ngFor="let picture of pictures">
        <img [src]="picture?.picture" [id]="picture?.id" [routerLink]="['/profile/userPic', picture.id]">
      </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
